@model gosteritiyatro.Models.Tiyatrolar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tiyatrolar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sehir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sehir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulke)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TiyatroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
